<launch>
    <arg name = "pkg_root"  default="$(find hexapod_ros)"/>
    
    <!-- Camera Parameters -->
    <arg name = "width"     default="424"/>
    <arg name = "height"    default="240"/>
    <arg name = "fps"       default="30"/>
    <arg name = "exposure"  default="2000"/>
    <arg name = "camera_pitch_offset"    default="23"/>
    <!-- Serial Port -->
    <arg name="port" default="/dev/Arduino_port"/>

    <!-- Serial Comms -->
    <node pkg ="rosserial_python" type="serial_node.py" name="hexapod_serial_node" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="115200"/>
    </node>

    <!-- Motion -->
    <node pkg = "hexapod_ros" type = "node_movement.py" name = "hexapod_movement" output="screen"> </node>  

    <!-- Map Generation -->
    <node pkg = "hexapod_ros" type = "node_hmap.py" name = "hexapod_hmap" output="screen"> </node>  
        <param name = "pkg_root" value = '$(arg pkg_root)'/>
        <param name = "camera_pitch_offset" value = '$(arg camera_pitch_offset)'/>

    <!-- Camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="depth_width"     value="$(arg width)"/>
        <arg name="depth_height"    value="$(arg height)"/>
        <arg name="color_width"     value="$(arg width)"/>
        <arg name="color_height"    value="$(arg height)"/>

        <arg name="depth_fps"       default="$(arg fps)"/>
        <arg name="color_fps"       default="$(arg fps)"/>
        <rosparam>
            /camera/stereo_module/enable_auto_exposure: false
            /camera/stereo_module/exposure: 2000
        </rosparam>
        <!-- <arg name="stereo_module/exposure/1"  default="$(arg exposure)"/> -->

        <arg name="align_depth"     value="true" /> 
        <arg name="enable_sync"     value="true" /> 
        <arg name="enable_color"    value="true" /> 
        <arg name="enable_depth"    value="true" />
    </include>


</launch>
